/* Your custom css code goes here */
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
.flexslider{
	height: 550px;
}

.flexslider .probootstrap-heading {
	margin-top: 0px !important;
  color: #ffffff;
  font-weight: 300;
  font-size: 50px;
  line-height: 60px;
  font-family: 'Montserrat', sans-serif;
}

.flexslider .probootstrap-slider-text {
  margin-top: 200px;
}

.flexslider .probootstrap-sub-wrap {
  max-width: 700px;
  text-align: left;
  font-size: 18px;
  line-height: 1.5;
  font-family: 'Montserrat', sans-serif;
}

.probootstrap-cta .probootstrap-cta-heading {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  margin-top: 10px;
  float: left;
  width: 80%;
  margin-bottom: 0;
}

.probootstrap-section-heading h2 {
  font-family: 'Montserrat', sans-serif;
  margin-top: 0;
  margin-bottom: 10px;
}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
  font-weight: 300;
  font-family: 'Montserrat', sans-serif;
  color: #000000;
}